<div id="rs-about" class="rs-about style1 bg1 pt-120 pb-120 md-pt-80 md-pb-70">
    <div class="container">
        <div class="row y-middle">
            <div class="col-lg-6 md-mb-50">
                <div class="about-images">
                    <img class="lazy" src="{{asset('/images/about/style1/gerant-net-et-sur.jpg')}}" alt="gérant net et sur">
                    <div class="about-widget wow fadeInUp">
                        <div class="about-style">
                            <div class="services-desc">
                                Nettoyage de pointe Agence depuis 2001                      
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 pr-55 md-pr-15">
                <div class="sec-title">
                    <span class="sub-text">À PROPOS DE L'ENTREPRISE</span>
                    <h2 class="title pb-35">
                        Nous peaufinons <span>vos locaux</span> professionnels.
                    </h2>
                    {# <div class="line-img wow fadeInUp">
                        <img src="{{asset('/images/line2.png')}}" alt="Images">
                    </div> #}
                    <div class="desc pb-25">
                       Le temps de vos équipes est précieux, et nous en avons pleinement conscience. Net & Sur les délestent de l’entretien des locaux, en toutes circonstances.
                    </div>
                    <ul class="dot-list">
                        <li>Nos mots d’ordre : qualité et réactivité à toutes les étapes de notre collaboration.</li>
                        <li>Notre expérience nous permet d’anticiper vos besoins pour une collaboration réellement sur-mesure.</li>
                        <li>Engagés et responsables, nous utilisons des produits naturels et respectueux de l'environnement.</li>
                    </ul>
                    <div class="btn-part mt-40">
                        <a class="readon view read" href="#contact">Nous contacter</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>