<div id="rs-about" class="rs-about style1 bg1 pt-120 pb-120 md-pt-80 md-pb-70">
    <div class="container">
        <div class="row y-middle">
            <div class="col-lg-6 md-mb-50">
                <div class="about-images">
                    <img src="{{asset('/images/about/style1/about.png')}}" alt="images">
                    <div class="about-widget wow fadeInUp">
                        <div class="about-style">
                            <div class="services-desc">
                                Leading Cleaning
                                Agency Since 2001                        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 pr-55 md-pr-15">
                <div class="sec-title">
                    <span class="sub-text">About company</span>
                    <h2 class="title pb-35">
                        Leading Cleaning Agency <span>Bring</span> Professionalism
                    </h2>
                    <div class="line-img wow fadeInUp">
                        <img src="{{asset('/images/line2.png')}}" alt="Images">
                    </div>
                    <div class="desc pb-25">
                        Nor is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but occasionally circumstances occur in which toil and pain can procure him some great pleasure. Creation timelines for the digital consulting business theme 2021 standard
                    </div>
                    <ul class="dot-list">
                        <li>we are always ensure to give our best for our customer.</li>
                        <li>give professional support by our professional.</li>
                        <li>Our mission is to provide quality product.</li>
                    </ul>
                    <div class="btn-part mt-40">
                        <a class="readon view read" href="about.html">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>