<div class="rs-banner banner-main-home">
    <div class="container">
        <div class="content-wrap">
            <span class="sub-title wow fadeInDown" data-wow-delay="700ms" data-wow-duration="1500ms">Best Cleaning Services</span>
            <h1 class="title wow fadeInLeft " data-wow-delay="800ms" data-wow-duration="2000ms">Professional</h1>
            <h2 class="title-small wow fadeInLeft" data-wow-delay="900ms" data-wow-duration="2000ms">Cleaning<span>Services</span></h2>
            <div class="line-img mb-20 wow fadeInLeft " data-wow-delay="950ms" data-wow-duration="2000ms">
                <img src="{{asset('/images/banner/style1/line.png')}}" alt="">
            </div>
            <p class="description wow fadeInLeft " data-wow-delay="1000ms" data-wow-duration="2000ms">
                Sed ut perspiciatis, unde omnis iste natus error sit volupt<br>
                atem accu santium doloremque laudantium 
            </p>
            <div class="btn-part wow fadeInUp " data-wow-delay="1100ms" data-wow-duration="2000ms">
                <a class="readon view" href="contact.html">View All Services</a>
            </div>
        </div>
    </div>
    <div class="banner-animate">
        <div class="circle-animate big">
            <img src="{{asset('/images/banner/style1/1.png')}}" alt="">
        </div>
        <div class="circle-animate small">
            <img src="{{asset('/images/banner/style1/2.png')}}" alt="">
        </div>
    </div>
</div>