<div class="rs-contact contact-style1 pb-120 md-pb-80">
    <div class="container custom">
        <div class="row margin-0 align-items-end">
            <div class="col-lg-6 padding-0 shape-divider-bg video-item">
                <div class="widget-viwe-line">
                    <div class="clean-img">
                        <img class="top-image" src="{{asset('/images/clean/homme-avec-balai.png')}}" alt="Images">
                        <div class="rotote-img">
                            <img class="rotated-style" src="{{asset('/images/clean/circle-shape.png')}}" alt="Images">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 padding-0 space-divider">
                <div class="widget-wrap">
                    <div class="rs-requset">
                        <div class="sec-title mb-33">
                            <span class="sub-text green-color yellow-color">Contactez-nous</span>
                            <h2 class="title white-color">
                                Formulaire de contact
                            </h2>
                        </div>
                        <div class="contact-widget">
                            <div id="form-messages"></div>
                            <div id="mauticform_wrapper_formulairedelaccueil" class="mauticform_wrapper">
                                <form autocomplete="false" role="form" method="post" action="http://mautic.net-et.sur.com.yjbt3669.odns.fr/form/submit?formId=1" id="mauticform_formulairedelaccueil" data-mautic-form="formulairedelaccueil" enctype="multipart/form-data">
                                    <div class="mauticform-error" id="mauticform_formulairedelaccueil_error"></div>
                                    <div class="mauticform-message" id="mauticform_formulairedelaccueil_message"></div>
                                    <div class="mauticform-innerform">
                                        <div class="row" data-mautic-form-page="1">
                                            <div id="mauticform_formulairedelaccueil_nom1" data-validate="nom1" data-validation-type="text" class="col-lg-6 mb-30 col-md-6 col-sm-6">
                                                <input id="mauticform_input_formulairedelaccueil_nom1" name="mauticform[nom1]" value="" placeholder="Nom" class="from-control" type="text">
                                                <span class="mauticform-errormsg" style="display: none;">Rentrez un nom valide merci.</span>
                                            </div>
                                            <div id="mauticform_formulairedelaccueil_mail" data-validate="mail" data-validation-type="email" class="col-lg-6 mb-30 col-md-6 col-sm-6">
                                                <input id="mauticform_input_formulairedelaccueil_mail" name="mauticform[mail]" value="" placeholder="Mail" class="from-control" type="email">
                                                <span class="mauticform-errormsg" style="display: none;">Rentrez un mail valide merci.</span>
                                            </div>
                                            <div id="mauticform_formulairedelaccueil_telephone" data-validate="telephone" data-validation-type="tel" class="col-lg-6 mb-30 col-md-6 col-sm-6">
                                                <input id="mauticform_input_formulairedelaccueil_telephone" name="mauticform[telephone]" value="" placeholder="Téléphone" class="from-control" type="tel">
                                                <span class="mauticform-errormsg" style="display: none;">Rentrez un numéro valide merci.</span>
                                            </div>
                                            <div id="mauticform_formulairedelaccueil_nos_services" class="col-lg-6 mb-30 col-md-6 col-sm-6">
                                                <select id="mauticform_input_formulairedelaccueil_nos_services" name="mauticform[nos_services]" value="" placeholder="Nos services" class="wpcf7-form-control wpcf7-select wpcf7-validates-as-required">
                                                    <option value="">Nos services</option>
                                                    <option value="Milieu hospitalier">Milieu hospitalier</option>
                                                    <option value="Syndicat de copropriété">Syndicat de copropriété</option>
                                                    <option value="Interventions industrielles">Interventions industrielles</option>
                                                    <option value="Interventions en milieu tertiaire">Interventions en milieu tertiaire</option>
                                                    <option value="Travaux exceptionnels">Travaux exceptionnels</option>
                                                    <option value="Nettoyage de chantiers">Nettoyage de chantiers</option>
                                                </select>
                                                <span class="mauticform-errormsg" style="display: none;"></span>
                                            </div>
                                            <div id="mauticform_formulairedelaccueil_votre_message1" class="col-lg-12 mb-30">
                                                <textarea id="mauticform_input_formulairedelaccueil_votre_message1" placeholder="Votre message" name="mauticform[votre_message1]" class="from-control"></textarea>
                                                <span class="mauticform-errormsg" style="display: none;"></span>
                                            </div>                                           
                                            <div id="mauticform_formulairedelaccueil_captcha" style="display: none;" class="mauticform-row mauticform-text mauticform-field-6">
                                                <label id="mauticform_label_formulairedelaccueil_captcha" for="mauticform_input_formulairedelaccueil_captcha" class="mauticform-label">Captcha</label>
                                                <input id="mauticform_input_formulairedelaccueil_captcha" name="mauticform[captcha]" value="" class="mauticform-input" type="text">
                                                <span class="mauticform-errormsg" style="display: none;"></span>
                                            </div>
                                            <div id="mauticform_formulairedelaccueil_submit" class="form-group mb-0">
                                                <p class="submit-btn">
                                                <input type="submit" name="mauticform[submit]" id="mauticform_input_formulairedelaccueil_submit" value="Envoyer">
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="hidden" name="mauticform[formId]" id="mauticform_formulairedelaccueil_id" value="1">
                                    <input type="hidden" name="mauticform[return]" id="mauticform_formulairedelaccueil_return" value="">
                                    <input type="hidden" name="mauticform[formName]" id="mauticform_formulairedelaccueil_name" value="formulairedelaccueil">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="address-wrap">
            <div class="address-icon">
                <i class="fa fa-phone"></i>
            </div>
        </div>
    </div>
    <div class="contact-animate">
        <div class="animate-style">
            <img class="scale" src="{{asset('/images/bg/bulle.png')}}" alt="">
        </div>
    </div> 
</div>