<div class="rs-cleaning cleaning-style bg3 pt-100 pb-100 md-pt-80 md-pb-80">
    <div class="container">
        <div class="cleaning-part">
            <div class="sec-title">
                <h2 class="title title3">
                    Découvrez <br> <span>nos</span> services
                </h2>
                <div class="line-img cleaner-center wow fadeInUp">
                    {# <img src="{{asset('/images/line.png')}}" alt="Images"> #}
                </div>
                <div class="btn-part mt-50">
                    <a class="readon view contact" href="contact.html">Contactez nous</a>
                </div>
            </div>
        </div>
    </div>
</div>