<div class="rs-project bg5">
    <div class="container">
        <div class="row y-middle">
            <div class="col-lg-6">
                <div class="sec-title">
                    <span class="sub-text green-color yellow-color">NOS DERNIÈRES RÉALISATIONS</span>
                    <h2 class="title pb-35 white-color">
                        Ils nous <span class="yellow-color">font confiance.</span>
                    </h2>
                    <div class="line-img project-center wow fadeInUp">
                        {# <img src="{{asset('/images/line3.png')}}" alt="Images"> #}
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="sec-title">
                    <div class="desc white-color">
                       Ces entreprises ont bénéficié de nos services.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>