<div class="rs-project bg5">
    <div class="container">
        <div class="row y-middle">
            <div class="col-lg-6">
                <div class="sec-title">
                    <span class="sub-text green-color yellow-color">Latest Projects</span>
                    <h2 class="title pb-35 white-color">
                        Our Latest <span class="yellow-color">Projects</span>
                    </h2>
                    <div class="line-img project-center wow fadeInUp">
                        <img src="{{asset('/images/line3.png')}}" alt="Images">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="sec-title">
                    <div class="desc white-color">
                        On the other hand we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment so blinded by desire that they cannot foresee.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>