<div class="rs-process process-style1 bg4 pt-115 pb-120 md-pt-75 md-pb-80">
    <div class="container">
        <div class="sec-title text-center mb-65">
            <span class="sub-text">How We Work</span>
            <h2 class="title">
                Our Cleaning Company Works<br><span>Process</span> For You
            </h2>
            <div class="line-img process-center wow fadeInUp">
                <img src="{{asset('/images/line.png')}}" alt="Images">
            </div>
        </div>
        <div class="all-process-item">
            <div class="row">
                <div class="col-lg-4 md-mb-40">
                    <div class="process-item">
                        <div class="icon-image">
                            <img src="{{asset('/images/process/style1/icons/1.png')}}" alt="Images">
                        </div>
                        <div class="number-area">
                            01
                        </div>
                        <div class="content-txt">
                            <h3 class="number-title">Easy Online Booking</h3>
                            <p class="number-txt">Lorem ipsum dolor desires to obtain pain of itself who loves great amet, consectetur adipiscing elit duis at dictum.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 md-mb-40">
                    <div class="process-item">
                        <div class="icon-image">
                            <img src="{{asset('/images/process/style1/icons/2.png')}}" alt="Images">
                        </div>
                        <div class="number-area number-style2">
                            02
                        </div>
                        <div class="content-txt">
                            <h3 class="number-title">Get Clean And Fresh</h3>
                            <p class="number-txt">Lorem ipsum dolor desires to obtain pain of itself who loves great amet, consectetur adipiscing elit duis at dictum.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="process-item">
                        <div class="icon-image">
                            <img src="{{asset('/images/process/style1/icons/3.png')}}" alt="Images">
                        </div>
                        <div class="number-area">
                            03
                        </div>
                        <div class="content-txt">
                            <h3 class="number-title">Enjoy Cleanliness</h3>
                            <p class="number-txt">Lorem ipsum dolor desires to obtain pain of itself who loves great amet, consectetur adipiscing elit duis at dictum.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>