<div class="rs-choose choose-style1 bg8 pt-120 pb-120 md-pt-80 md-pb-80">
    <div class="container">
        <div class="row y-middle">
            <div class="col-lg-6 md-mb-50">
                <div class="choose-us-section">
                    <div class="choose-img mb-30">
                        <img src="{{asset('/images/choose/choose-us.png')}}" alt="">
                    </div>
                    <div class="video-img text-center">
                        <img src="{{asset('/images/choose/video-bg.png')}}" alt="">
                        <div class="rs-videos choose-us-video">
                            <div class="overly-border">
                                <a class="popup-videos" href="https://www.youtube.com/watch?v=LpdRAyIGg8I">
                                    <i class="fa fa-play"></i>
                                </a>
                            </div>    
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 pr-85 md-pr-15">
                <div class="sec-title">
                    <span class="sub-text">Pourquoi nous choisir</span>
                    <h2 class="title pb-55">
                        Net & sur : <br><span>Plus qu'un nettoyage,</span> une expérience.
                    </h2>
                    <div class="line-img wow fadeInUp">
                        {# <img src="{{asset('/images/line.png')}}" alt="Images"> #}
                    </div>
                    <div class="rs-features-list">
                        <div class="feature-item mb-33">
                            <div class="feature-icon">
                                <i class="fa fa-check"></i>
                            </div>
                            <div class="rs-feature-text">
                                <h4 class="title">Réactivité</h4>
                                <p class="desc">Nous connaissons vos challenges ! Nos équipes sont très réactives pour vous épauler dans votre gestion des locaux et vous libérer de cette mission chronophage. </p>
                            </div>
                        </div>
                        <div class="feature-item mb-33">
                            <div class="feature-icon">
                                <i class="fa fa-check"></i>
                            </div>
                            <div class="rs-feature-text">
                                <h4 class="title">Qualité</h4>
                                <p class="desc">Notre notoriété le prouve : la qualité est notre mot d’ordre. Du recrutement de nos agents à la conception de notre démarche qualité, nous élaborons une expérience client soucieuse de votre satisfaction. </p>
                            </div>
                        </div>
                        <div class="feature-item">
                            <div class="feature-icon">
                                <i class="fa fa-check"></i>
                            </div>
                            <div class="rs-feature-text">
                                <h4 class="title">Engagements responsables</h4>
                                <p class="desc">Sensibles à l’environnement et à la justice sociale, nous appliquons nos convictions au quotidien grâce à nos équipes engagées.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>