<div class="rs-choose choose-style1 bg8 pt-120 pb-120 md-pt-80 md-pb-80">
    <div class="container">
        <div class="row y-middle">
            <div class="col-lg-6 md-mb-50">
                <div class="choose-us-section">
                    <div class="choose-img mb-30">
                        <img src="{{asset('/images/choose/choose-us.png')}}" alt="">
                    </div>
                    <div class="video-img text-center">
                        <img src="{{asset('/images/choose/video-bg.png')}}" alt="">
                        <div class="rs-videos choose-us-video">
                            <div class="overly-border">
                                <a class="popup-videos" href="https://www.youtube.com/watch?v=LpdRAyIGg8I">
                                    <i class="fa fa-play"></i>
                                </a>
                            </div>    
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 pr-85 md-pr-15">
                <div class="sec-title">
                    <span class="sub-text">Why Choose Us</span>
                    <h2 class="title pb-55">
                        Expert in Cleaning Services<br><span>Reasons</span> to Choose Us
                    </h2>
                    <div class="line-img wow fadeInUp">
                        <img src="{{asset('/images/line.png')}}" alt="Images">
                    </div>
                    <div class="rs-features-list">
                        <div class="feature-item mb-33">
                            <div class="feature-icon">
                                <i class="fa fa-check"></i>
                            </div>
                            <div class="rs-feature-text">
                                <h4 class="title">Top-Rated Company</h4>
                                <p class="desc">On the other hand we denounce with righteous indignation<br>
                                and dislike beguiledre circumstances </p>
                            </div>
                        </div>
                        <div class="feature-item mb-33">
                            <div class="feature-icon">
                                <i class="fa fa-check"></i>
                            </div>
                            <div class="rs-feature-text">
                                <h4 class="title">Superior Quality</h4>
                                <p class="desc">On the other hand we denounce with righteous indignation<br>
                                and dislike beguiledre circumstances </p>
                            </div>
                        </div>
                        <div class="feature-item">
                            <div class="feature-icon">
                                <i class="fa fa-check"></i>
                            </div>
                            <div class="rs-feature-text">
                                <h4 class="title">Eco-Friendly Products</h4>
                                <p class="desc">On the other hand we denounce with righteous<br>
                                indignation and dislike beguiledre circumstances </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>