<!-- Checklist Section Start -->
<div class="rs-checklist gray-bg pt-120 pb-120 md-pt-80 md-pb-80">
	<div class="container">
		<div class="row y-middle">
			<div class="col-lg-6 pr-46 md-pr-15 md-mb-50">
				<div class="sec-title2">
					<div class="brush-content mb-8">
						<img src="assets/images/brush.png" alt="">
						<span class="sub-text small-text">Checklist</span>
					</div>
					<h2 class="title title2 pb-22">
						House Cleaning Checklist
					</h2>
					<div class="desc pb-22">
						European languages are members of the same family. The languages only differ in their grammar, their pronu nciation and their most common words. sometimes by accident, sometimes on purpose. European languages are members of the same family
					</div>
					<ul class="brush-list style2">
						<li>Digital  how will activities impact traditional</li>
						<li>All these digital elements and projects aim</li>
						<li>I monitor my staff with software that takes</li>
						<li>Laoreet dolore magna sodium glutimate</li>
						<li>Veniam Minim quis niacin sodium</li>
					</ul>
					<div class="desc pt-22">
						Pronunciation and more common words. If several languages coalesce.  over the years, sometimes by accident, sometimes on purpose. Over the years, sometimes by  purpose.
					</div>
				</div>
			</div>
			<div class="col-lg-6 text-right md-text-center">
				<div class="checklist-img">
					<img src="assets/images/project/details/1.png" alt="">
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Checklist Section End -->