<!-- Cleaning Guide Section Start -->
<div class="rs-cleaning cleaning-style1 pt-120 pb-120 md-pt-80 md-pb-80">
	<div class="container">
		<div class="row y-middle">
			<div class="col-lg-6 md-mb-50">
				<div class="cheaning-img">
					<div class="rs-videos">
						<div class="animate-border">
							<a class="popup-border popup-videos" href="https://www.youtube.com/watch?v=FMvA5fyZ338">
								<i class="fa fa-play"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6 pl-35 md-pl-15">
				<div class="sec-title2">
					<div class="brush-content mb-8">
						<img src="assets/images/brush.png" alt="">
						<span class="sub-text small-text">Cleaning Guide</span>
					</div>
					<h2 class="title title2 pb-22">
						Guide to a Clean House
					</h2>
					<div class="desc pb-22">
						The languages only differ in their grammar, their pronu nciation and their most common words. sometimes by accident, sometimes on purpose. European languages are members of the same family european languages are members of the same family.
					</div>
					<ul class="brush-list style2">
						<li>Digital  how will activities impact traditional</li>
						<li>All these digital elements and projects aim</li>
						<li>I monitor my staff with software that takes</li>
						<li>Laoreet dolore magna sodium glutimate</li>
						<li>Veniam Minim quis niacin sodium</li>
					</ul>
					<div class="desc pt-22">
						If several languages coalesce.  over the years, sometimes by accident, sometimes on purpose. Over the years, sometimes by accident, on purpose uropean languages the same family
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Cleaning Guide Section End -->