<!-- Project Details Section Start -->
<div class="rs-project-details pt-120 pb-120 md-pt-80 md-pb-80">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 md-mb-50">
				<div class="sec-title2 mb-40">
					<div class="brush-content mb-8">
						<img src="assets/images/brush.png" alt="">
						<span class="sub-text small-text">Projests Details</span>
					</div>
					<h2 class="title title2 pb-22">
						Intro of Dust Surfaces
					</h2>
					<div class="desc">
						European languages are members of the same family. The languages only differ in their grammar, their pronu nciation and their most common words. pronunciation and more common words. If several languages coalesce.  over the years, sometimes by accident, sometimes on purpose. Over the years, sometimes by accident, sometimes on purpose. European languages are members of the same family. The languages only differ in their grammar, their pronu nciation and their most common words. pronunciation and more common words. If several languages coalesce.  
					</div>
				</div>
				<!-- Counter Section Start -->
				<div class="rs-counter counter-style2">
					<div class="counter-top">
						<div class="row">
							<div class="col-lg-4 col-md-6 md-mb-40">
								<div class="rs-counter-list">
									<div class="counter-text">
										<div class="counter-icon">
											<img src="assets/images/counter/icons/1.png" alt="Icons">
										</div>
										<div class="counter-number">
											<span class="rs-count">1500</span>
											<span class="prefix">+</span>
											<h5 class="title">Services Provider</h5>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-6 sm-mb-40">
								<div class="rs-counter-list">
									<div class="counter-text">
										<div class="counter-icon">
											<img src="assets/images/counter/icons/2.png" alt="Icons">
										</div>
										<div class="counter-number">
											<span class="rs-count">2070</span>
											<span class="prefix">+</span>
											<h5 class="title"> Order Served</h5>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-6">
								<div class="rs-counter-list">
									<div class="counter-text">
										<div class="counter-icon">
											<img src="assets/images/counter/icons/3.png" alt="Icons">
										</div>
										<div class="counter-number">
											<span class="rs-count">6080</span>
											<span class="prefix">+</span>
											<h5 class="title">5 Star Received</h5>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="counter-animation">
							<div class="animate-ball one">
								<img src="assets/images/ball.png" alt="Images">
							</div>
							<div class="animate-ball two">
								<img src="assets/images/ball.png" alt="Images">
							</div>
							<div class="animate-ball three">
								<img src="assets/images/ball.png" alt="Images">
							</div>
						</div>
					</div>
				</div>
				<!-- Counter Section End -->
			</div>
			<div class="col-lg-4 pl-40 md-pl-15">
				<div class="project-information">
					<div class="project-title">
						<h3 class="title">Project information</h3>
					</div>
					<div class="project-content mb-22">
						<h4 class="title">Skills</h4>
						<div class="description">
							Buffing, Mopping, Dusting            		
						</div>
					</div>
					<div class="project-content mb-22">
						<h4 class="title">Client</h4>
						<div class="description">
							John Dibag           		
						</div>
					</div>
					<div class="project-content mb-22">
						<h4 class="title">Completed Date</h4>
						<div class="description">
							20 - 04 - 2021           		
						</div>
					</div>
					<div class="project-content mb-22">
						<h4 class="title">Manager</h4>
						<div class="description">
							Marvelon Mizuk           		
						</div>
					</div>
					<div class="project-content">
						<h4 class="title">Location</h4>
						<div class="description">
							New York, NY, USA           		
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Project Details Section End -->