<!-- Pricing Section End -->
<div class="rs-pricing pricing-style1 pricing-services-style gray-bg pt-120 pb-120 md-pt-80 md-pb-80">
    <div class="container">
        <div class="sec-title2 text-center mb-45">
            <div class="brush-content center-text mb-20">
                <img src="assets/images/brush.png" alt="">
                <span class="sub-text">Pricing Plan</span>
            </div>
            <h2 class="title">
                We Offered an Affordable<br>
                Pricing Plan
            </h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 md-mb-30">
                <div class="pricing-wrap-widget">
                    <div class="pricing-table-middle">
                        <div class="pricing-table-header">
                            <h3 class="table-title">Basic Plan</h3>
                            <div class="pricing-table-price">
                                <div class="pricing-table-bags">
                                    <span class="pricing-currency">$</span>
                                    <span class="table-price-text">25</span>
                                    <span class="table-period">/ Month</span>
                                </div>
                            </div>
                        </div>
                        <div class="pricing-icon">
                            <img src="assets/images/pricing/style1/1.png" alt="">
                        </div>
                        <div class="pricing-table-body">
                            <ul>
                                <li><i class="fa fa-check"></i><span>Floor cleaning</span></li>
                                <li><i class="fa fa-check"></i><span>Kitchen Cleaning</span></li>
                                <li><i class="fa fa-check"></i><span>Room cleaning</span></li>
                                <li><i class="fa fa-check"></i><span>Bathroom cleaning</span></li>
                                <li><i class="fa fa-check"></i><span>General Dusting</span></li>
                            </ul>
                        </div>
                        <div class="btn-part mt-35 text-center">
                            <a class="readon view price" href="contact.html">Get Started</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 sm-mb-30">
                <div class="pricing-wrap-widget">
                    <div class="pricing-table-middle">
                        <div class="pricing-table-header">
                            <h3 class="table-title">Basic Plan</h3>
                            <div class="pricing-table-price">
                                <div class="pricing-table-bags">
                                    <span class="pricing-currency">$</span>
                                    <span class="table-price-text">25</span>
                                    <span class="table-period">/ Month</span>
                                </div>
                            </div>
                        </div>
                        <div class="pricing-icon">
                            <img src="assets/images/pricing/style1/2.png" alt="">
                        </div>
                        <div class="pricing-table-body">
                            <ul>
                                <li><i class="fa fa-check"></i><span>Floor cleaning</span></li>
                                <li><i class="fa fa-check"></i><span>Kitchen Cleaning</span></li>
                                <li><i class="fa fa-check"></i><span>Room cleaning</span></li>
                                <li><i class="fa fa-check"></i><span>Bathroom cleaning</span></li>
                                <li><i class="fa fa-check"></i><span>General Dusting</span></li>
                            </ul>
                        </div>
                        <div class="btn-part mt-35 text-center">
                            <a class="readon view price" href="contact.html">Get Started</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="pricing-wrap-widget">
                    <div class="pricing-table-middle">
                        <div class="pricing-table-header">
                            <h3 class="table-title">Basic Plan</h3>
                            <div class="pricing-table-price">
                                <div class="pricing-table-bags">
                                    <span class="pricing-currency">$</span>
                                    <span class="table-price-text">25</span>
                                    <span class="table-period">/ Month</span>
                                </div>
                            </div>
                        </div>
                        <div class="pricing-icon">
                            <img src="assets/images/pricing/style1/3.png" alt="">
                        </div>
                        <div class="pricing-table-body">
                            <ul>
                                <li><i class="fa fa-check"></i><span>Floor cleaning</span></li>
                                <li><i class="fa fa-check"></i><span>Kitchen Cleaning</span></li>
                                <li><i class="fa fa-check"></i><span>Room cleaning</span></li>
                                <li><i class="fa fa-check"></i><span>Bathroom cleaning</span></li>
                                <li><i class="fa fa-check"></i><span>General Dusting</span></li>
                            </ul>
                        </div>
                        <div class="btn-part mt-35 text-center">
                            <a class="readon view price" href="contact.html">Get Started</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>
<!-- Pricing Section End -->