<!-- Services Section Start -->
<div class="rs-services services-style1 services-inner-style1 pt-120 pb-120 md-pt-80 md-pb-80">
    <div class="container">
        <div class="row y-middle">
            <div class="col-lg-4 col-md-6 mb-30">
                <div class="services-item">
                    <div class="services-images">
                        <img class="main-img" src="assets/images/services/main-home/main-img/1.jpg" alt="">
                        <div class="services-icon">
                            <img class="main-icons" src="assets/images/services/main-home/main-icons/1.png" alt="">
                        </div>
                    </div>
                    <div class="services-text">
                        <div class="services-title">                            
                            <h3 class="title"><a href="covid-19-cleaning.html">Covid-19 Cleaning</a></h3>
                        </div>
                        <p class="services-txt">Quisque placerat vitae lacus ut sceleris in Fusce luctus odio ac nibtech.</p>
                        <div class="services-btn">
                            <a href="covid-19-cleaning.html">
                                <span class="btn-text">
                                    Read More                           
                                </span>
                                <i class="fi fi-rr-arrow-small-right"></i>
                            </a> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-30">
                <div class="services-item">
                    <div class="services-images">
                        <img class="main-img" src="assets/images/services/main-home/main-img/2.jpg" alt="">
                        <div class="services-icon">
                            <img class="main-icons" src="assets/images/services/main-home/main-icons/2.png" alt="">
                        </div>
                    </div>
                    <div class="services-text">
                        <div class="services-title">                            
                            <h3 class="title"><a href="kitchen-cleaning.html">Kitchen Cleaning</a></h3>
                        </div>
                        <p class="services-txt">Quisque placerat vitae lacus ut sceleris in Fusce luctus odio ac nibtech.</p>
                        <div class="services-btn">
                            <a href="kitchen-cleaning.html">
                                <span class="btn-text">
                                    Read More                           
                                </span>
                                <i class="fi fi-rr-arrow-small-right"></i>
                            </a> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-30">
                <div class="services-item">
                    <div class="services-images">
                        <img class="main-img" src="assets/images/services/main-home/main-img/3.jpg" alt="">
                        <div class="services-icon">
                            <img class="main-icons" src="assets/images/services/main-home/main-icons/3.png" alt="">
                        </div>
                    </div>
                    <div class="services-text">
                        <div class="services-title">                            
                            <h3 class="title"><a href="toilet-cleaning.html">Toilet Cleaning</a></h3>
                        </div>
                        <p class="services-txt">Quisque placerat vitae lacus ut sceleris in Fusce luctus odio ac nibtech.</p>
                        <div class="services-btn">
                            <a href="toilet-cleaning.html">
                                <span class="btn-text">
                                    Read More                           
                                </span>
                                <i class="fi fi-rr-arrow-small-right"></i>
                            </a> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 md-mb-30">
                <div class="services-item">
                    <div class="services-images">
                        <img class="main-img" src="assets/images/services/main-home/main-img/4.jpg" alt="">
                        <div class="services-icon">
                            <img class="main-icons" src="assets/images/services/main-home/main-icons/4.png" alt="">
                        </div>
                    </div>
                    <div class="services-text">
                        <div class="services-title">                            
                            <h3 class="title"><a href="office-cleaning.html">Office Cleaning</a></h3>
                        </div>
                        <p class="services-txt">Quisque placerat vitae lacus ut sceleris in Fusce luctus odio ac nibtech.</p>
                        <div class="services-btn">
                            <a href="office-cleaning.html">
                                <span class="btn-text">
                                    Read More                           
                                </span>
                                <i class="fi fi-rr-arrow-small-right"></i>
                            </a> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 sm-mb-30">
                <div class="services-item">
                    <div class="services-images">
                        <img class="main-img" src="assets/images/services/main-home/main-img/5.jpg" alt="">
                        <div class="services-icon">
                            <img class="main-icons" src="assets/images/services/main-home/main-icons/5.png" alt="">
                        </div>
                    </div>
                    <div class="services-text">
                        <div class="services-title">                            
                            <h3 class="title"><a href="window-cleaning.html">Window Cleaning</a></h3>
                        </div>
                        <p class="services-txt">Quisque placerat vitae lacus ut sceleris in Fusce luctus odio ac nibtech.</p>
                        <div class="services-btn">
                            <a href="window-cleaning.html">
                                <span class="btn-text">
                                    Read More                           
                                </span>
                                <i class="fi fi-rr-arrow-small-right"></i>
                            </a> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="services-item">
                    <div class="services-images">
                        <img class="main-img" src="assets/images/services/main-home/main-img/6.jpg" alt="">
                        <div class="services-icon">
                            <img class="main-icons" src="assets/images/services/main-home/main-icons/6.png" alt="">
                        </div>
                    </div>
                    <div class="services-text">
                        <div class="services-title">                            
                            <h3 class="title"><a href="carpet-cleaning.html">Carpet Cleaning</a></h3>
                        </div>
                        <p class="services-txt">Quisque placerat vitae lacus ut sceleris in Fusce luctus odio ac nibtech.</p>
                        <div class="services-btn">
                            <a href="carpet-cleaning.html">
                                <span class="btn-text">
                                    Read More                           
                                </span>
                                <i class="fi fi-rr-arrow-small-right"></i>
                            </a> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services Section End -->