<!-- Faq Start -->
<div class="rs-faq faq-style1 pt-120 pb-120 md-pt-80 md-pb-80">
	<div class="container">
		<div class="row">
			<div class="col-lg-7 pr-40 md-pr-15 md-mb-50">
				<div class="faq-content">
					<div id="accordion" class="accordion">
						<div class="card">
							<div class="card-header">
								<a class="card-link" href="#" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true">Home for every cleaning service ?</a>
							</div>
							<div id="collapseOne" class="collapse show" data-bs-parent="#accordion">
								<div class="card-body">
									All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet uses over. 
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header">
								<a class="card-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false"> Damaged during a service ?</a>
							</div>
							<div id="collapseTwo" class="collapse" data-bs-parent="#accordion" style="">
								<div class="card-body">
									All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet uses over. 
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header">
								<a class="card-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false">Cleaning equipment or supplies?</a>
							</div>
							<div id="collapseThree" class="collapse" data-bs-parent="#accordion" style="">
								<div class="card-body">
									All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet uses over. 
								</div>
							</div>
						</div>     
						<div class="card">
							<div class="card-header">
								<a class="card-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsefour" aria-expanded="false">Cleaning service falls on a holiday?</a>
							</div>
							<div id="collapsefour" class="collapse" data-bs-parent="#accordion" style="">
								<div class="card-body">
									All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet uses over. 
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header">
								<a class="card-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false">Professional grade disinfectant ?</a>
							</div>
							<div id="collapseFive" class="collapse" data-bs-parent="#accordion" style="">
								<div class="card-body">
									All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet uses over. 
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header">
								<a class="card-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false">Healthy teams & social distancing ?</a>
							</div>
							<div id="collapseSix" class="collapse" data-bs-parent="#accordion" style="">
								<div class="card-body">
									All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet uses over. 
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header">
								<a class="card-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false">What happens if I need to reschedule?</a>
							</div>
							<div id="collapseSeven" class="collapse" data-bs-parent="#accordion" style="">
								<div class="card-body">
									All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet uses over. 
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
{% include "faq/contact.html.twig" %}
</div>
<!-- Faq End -->