<div class="col-lg-8 pr-35 md-pr-15 md-mb-50">
    <div class="blog-details">
        <div class="blog-full">
            <div class="bs-img">
                <img src="assets/images/blog/style1/1.jpg" alt="Blog">
            </div>
            <div class="blog-content-full">
                <p class="marign-0 pt-34">
                    We denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain.
                </p>
                <blockquote><p>Education is the process of facilitating learning, or the acquisition datas of knowledge, skills, values, beliefs, and habits. Educational methods in clude story telling, discussion to as part of their title.</p></blockquote>

                <p class="margin-0 pb-40">They were sparing of the Heat-Ray that night, either because they had but a limited supply of material for its production or because they did not wish to destroy the country but only to crush and overawe the opposition they had aroused. In the latter aim they certainly succeeded. Sunday night was the end of the organised opposition to their movements.</p>

                <div class="bs-img">
                    <img src="assets/images/blog/style1/2.jpg" alt="Blog">
                </div>
                <h3 class="title pt-35 pb-12">Advanced Ultrasonic & Metal Welding</h3>
                <p>In certain circumstances and owing to the claims of duty or the obligations of business it will frequently occur that pleasures have to be repudiated and annoyances accepted. The wise man therefore always holds in these matters to this principle of selection: he rejects pleasures to secure other greater pleasures, either because they had but a limited supply of material for its production or because they did not wish to destroy the country but only to crush and overawe the opposition they had aroused</p>
                <ul class="listing-style">
                    <li>100% responsive</li>
                    <li>99% client satisfaction</li>
                    <li>Best business theme 2018</li>
                    <li>Duty or the obligations of business</li>
                </ul>
                <p>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae & sunt, explicabo. Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos, qui dolorem ipsum, quia dolor sit amet consectetur adipisc.</p>
                {# <div class="bs-info">
                    Tags: 
                    <a href="#">Design</a>
                    <a href="#">Language</a>
                    <a href="#">Machine</a>
                    <a href="#">Process</a>
                </div> #}
                {# <h3 class="title title2 pt-25 pb-22">Leave a Reply</h3>
                <p class="margin-0 pb-24">Your email address will not be published. Required fields are marked *</p>
                <div class="comment-note">
                    <div id="form-messages"></div>
                    <form id="contact-form" method="post" action="mailer.php">
                        <fieldset>
                            <div class="row">
                                <div class="col-lg-6 mb-35 col-md-6 col-sm-6">
                                    <input class="from-control" type="text" id="name" name="name" placeholder="Name*" required="">
                                </div> 
                                <div class="col-lg-6 mb-35 col-md-6 col-sm-6">
                                    <input class="from-control" type="text" id="email" name="email" placeholder="E-Mail*" required="">
                                </div>
                                <div class="col-lg-12 mb-30">
                                    <textarea class="from-control" id="message" name="message" placeholder="Comment" required=""></textarea>
                                </div>
                            </div>
                            <div class="btn-part">
                                <div class="form-group mb-0">
                                    <p class="submit-btn submit-btn2 details">
                                        <span class="arrow-btn">
                                            <input type="submit" value="Post Comment">
                                        </span>
                                    </p>
                                </div>
                            </div> 
                        </fieldset>
                    </form>
                </div> #}
            </div>
        </div>
    </div>
</div>