{% extends 'base.html.twig' %}
{% block nav %}{% endblock %}

{% block body %}
    <div class="d-flex align-items-center justify-content-center" style="height: 100vh;">
        <div class="text-center">
            <h1 class="text-danger">Erreur 503</h1>
            <p class="lead">Le service est momentanément indisponible.</p>
            <a href="{{ path('app_home') }}" class="btn btn-primary">Retour à l'accueil</a>
            <p class="mt-5">Nous sommes désolés pour les désagréments causés. Veuillez réessayer plus tard.</p>
            <p>ou visitez <a href="https://web-artisanat.com">https://web-artisanat.com</a> pour plus d'informations</p>
        </div>
    </div>
{% endblock %}
