<!-- Contact Start -->
<div class="rs-contact contact-style4 gray-bg5 pt-120 pb-120 md-pt-80 md-pb-80">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 md-mb-50">
				<div class="request-estimate">
					<img src="assets/images/contact/esimate-img.jpg" alt="Images">
				</div>
				<div class="address-list-item mb-20">
					<div class="address-icon">
						<img src="assets/images/contact/style1/1.png" alt="Contact">
					</div>
					<div class="address-content">
						<div class="address-title">				    		
							<h2 class="title"> New York Office</h2>	    		
						</div>
						<p class="services-txt">  95 Arcadia St.<br>
						Lynwood, CA 90262<br>
						(+01) 9999-888-889</p>
					</div>
				</div>
				<div class="address-list-item">
					<div class="address-icon">
						<img src="assets/images/contact/style1/1.png" alt="Contact">
					</div>
					<div class="address-content">
						<div class="address-title">				    		
							<h2 class="title">California Office</h2>	    		
						</div>
						<p class="services-txt">  95 Arcadia St.<br>
						Lynwood, CA 90262<br>
						(+01) 9999-888-889</p>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="contact-wrap">
					<div class="sec-title2 mb-30">
						<h2 class="title small white-color">
							Schedule Free Estimate
						</h2>
					</div>
					<div id="form-messages"></div>
					<div id="mauticform_wrapper_faq" class="mauticform_wrapper">
						<form autocomplete="false" role="form" method="post" action="http://mautic.net-et.sur.com.yjbt3669.odns.fr/form/submit?formId=4" id="mauticform_faq" data-mautic-form="faq" enctype="multipart/form-data">
							<div class="mauticform-error" id="mauticform_faq_error"></div>
							<div class="mauticform-message" id="mauticform_faq_message"></div>
							<div class="mauticform-innerform">
								<div class="row mauticform-page-wrapper mauticform-page-1" data-mautic-form-page="1">
									<div id="mauticform_faq_nom1" class="mauticform-row mauticform-text mauticform-field-1 mauticform-required col-lg-6 col-md-6 col-sm-6 mb-22" data-validate="nom1" data-validation-type="text">
										<div class="form-group">
											<input id="mauticform_input_faq_nom1" name="mauticform[nom1]" value="" placeholder="Nom" class="mauticform-input form-control-mod" type="text">
											<span class="mauticform-errormsg" style="display: none;">Rentrez un nom valide merci.</span>
										</div>
									</div>
									<div id="mauticform_faq_prenom" class="mauticform-row mauticform-text mauticform-field-2 mauticform-required col-lg-6 mb-30 col-md-6 col-sm-6" data-validate="prenom" data-validation-type="text">
										<div class="form-group">
											<input id="mauticform_input_faq_prenom" name="mauticform[prenom]" value="" placeholder="Votre prénom" class="mauticform-input form-control-mod" type="text">
											<span class="mauticform-errormsg" style="display: none;">Rentrez un prénom valide merci.</span>
										</div>
									</div>
									<div id="mauticform_faq_mail" class="mauticform-row mauticform-email mauticform-field-3 mauticform-required col-lg-6 mb-30 col-md-6 col-sm-6" data-validate="mail" data-validation-type="email">
										<div class="form-group">
											<input id="mauticform_input_faq_mail" name="mauticform[mail]" value="" placeholder="Mail" class="mauticform-input form-control-mod" type="email">
											<span class="mauticform-errormsg" style="display: none;">Rentrez un mail valide merci.</span>
										</div>
									</div>
									<div id="mauticform_faq_telephone" class="mauticform-row mauticform-tel mauticform-field-4 mauticform-required col-lg-6 mb-30 col-md-6 col-sm-6" data-validate="telephone" data-validation-type="tel">
										<div class="form-group">
											<input id="mauticform_input_faq_telephone" name="mauticform[telephone]" value="" placeholder="Téléphone" class="mauticform-input form-control-mod" type="tel">
											<span class="mauticform-errormsg" style="display: none;">Rentrez un numéro valide merci.</span>
										</div>
									</div>
									<div id="mauticform_faq_societe" class="mauticform-row mauticform-text mauticform-field-5 col-lg-12 mb-30">
										<div class="form-group">
											<input id="mauticform_input_faq_societe" name="mauticform[societe]" value="" placeholder="Société" class="mauticform-input form-control-mod" type="text">
											<span class="mauticform-errormsg" style="display: none;"></span>
										</div>
									</div>
									<div id="mauticform_faq_nos_services" class="mauticform-row mauticform-select mauticform-field-6 col-lg-12 mb-30">
										<div class="form-group">
											<select id="mauticform_input_faq_nos_services" name="mauticform[nos_services]" value="" placeholder="Nos services" class="mauticform-selectbox form-control-mod">
												<option value="">Nos services</option>
												<option value="Milieu hospitalier">Milieu hospitalier</option>
												<option value="Syndicat de copropriété">Syndicat de copropriété</option> 
												<option value="Interventions industrielles">Interventions industrielles</option>  
												<option value="Interventions en milieu tertiaire">Interventions en milieu tertiaire</option>                    
												<option value="Travaux exceptionnels">Travaux exceptionnels</option>                    
												<option value="Nettoyage de chantiers">Nettoyage de chantiers</option>
											</select>
										</div>
										<span class="mauticform-errormsg" style="display: none;"></span>
									</div>
									<div id="mauticform_faq_frequence" class="mauticform-row mauticform-select mauticform-field-7 col-lg-12 mb-30">
										<div class="form-group">
											<select id="mauticform_input_faq_frequence" name="mauticform[frequence][]" value="" placeholder="Sélectionner une fréquence" class="mauticform-selectbox form-control-mod">                    
												<option value="">Sélectionner une fréquence</option>                    
												<option value="Quotidien">Quotidien</option>                    
												<option value="Hebdomadaire">Hebdomadaire</option>
											</select>
										</div>
										<span class="mauticform-errormsg" style="display: none;"></span>
									</div>
									<div id="mauticform_faq_votre_message1" class="mauticform-row mauticform-text mauticform-field-8 col-lg-12 mb-30">
										<div class="form-group">
											<textarea id="mauticform_input_faq_votre_message1" name="mauticform[votre_message1]" class="mauticform-textarea form-control-mod"></textarea>
										</div>
										<span class="mauticform-errormsg" style="display: none;"></span>
									</div>
									<div id="mauticform_faq_captcha" style="display: none;" class="mauticform-row mauticform-text mauticform-field-9">
										<label id="mauticform_label_faq_captcha" for="mauticform_input_faq_captcha" class="mauticform-label">Captcha</label>
										<input id="mauticform_input_faq_captcha" name="mauticform[captcha]" value="" class="mauticform-input" type="text">
										<span class="mauticform-errormsg" style="display: none;"></span>
									</div>
								</div>
								<div class="btn-part">                                            
									<div id="mauticform_faq_submit" class="mauticform-row mauticform-button-wrapper mauticform-field-10 form-group mb-0">
										<p class="submit-btn">
											<input type="submit" name="mauticform[submit]" id="mauticform_input_faq_submit" value="Envoyer">
										</p>
									</div>
								</div> 
							</div>
							<input type="hidden" name="mauticform[formId]" id="mauticform_faq_id" value="4">
							<input type="hidden" name="mauticform[return]" id="mauticform_faq_return" value="">
							<input type="hidden" name="mauticform[formName]" id="mauticform_faq_name" value="faq">
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Contact End -->