<!-- About Section Start -->
<div id="rs-about" class="rs-about style4 pt-120 pb-120 md-pt-80 md-pb-75">
    <div class="container">
        <div class="row y-middle">
            <div class="col-lg-6 md-mb-50">
                <div class="about-images">
                    <img src="{{asset('/images/about/style4/about.png')}}" alt="">
                    <div class="about-widget wow fadeInUp">
                        <div class="services-item">
                            <div class="services-icon">
                                <img src="{{asset('/images/about/style4/about-icon.png')}}" alt="">
                            </div>
                            <div class="services-content">
                                <h2 class="services-desc">
                                    Leading Cleaning
                                    Agency Since 2001                        
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 pr-55 md-pr-15">
                <div class="sec-title2">
                    <div class="brush-content mb-20">
                        <img src="{{asset('/images/brush.png')}}" alt="">
                        <span class="sub-text">About company</span>
                    </div>
                    <h2 class="title pb-35">
                        Clenio World Leading
                        Cleaning Agency
                    </h2>
                    <div class="desc pb-25">
                        Nor is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but occasionally circumstances occur in which toil and pain can procure him some great pleasure. Creation timelines for the digital consulting business theme 2021 standard.
                    </div>
                    <ul class="dot-list yellow-dot">
                        <li class="mb-12">we are always ensure to give our best for our customer.</li>
                        <li class="mb-12">give professional support by our professional.</li>
                        <li>Our mission is to provide quality product.</li>
                    </ul>
                    <div class="btn-part mt-45">
                        <a class="readon about" href="contact.html">
                            <span class="btn-text">Contact Us</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About Section End -->