<!-- Process Section Start -->
<div class="rs-process process-style1 process-about-style pt-120 pb-120 md-pt-80 md-pb-80">
    <div class="container">
        <div class="sec-title2 mb-10 text-center">
            <div class="brush-content center-text mb-20">
                <img src="assets/images/brush.png" alt="">
                <span class="sub-text">How It Works</span>
            </div>
            <h2 class="title pb-35">
                Easiest Way to Get Our<br>
                Service
            </h2>
        </div>
        <div class="all-process-item">
            <div class="row">
                <div class="col-lg-4 md-mb-40">
                    <div class="process-item">
                        <div class="icon-image">
                            <img src="assets/images/process/style2/icons/1.png" alt="Images">
                        </div>
                        <div class="number-area">
                            01
                        </div>
                        <div class="content-txt">
                            <h3 class="number-title">Easy Online Booking</h3>
                            <p class="number-txt">Lorem ipsum dolor desires to obtain pain of itself who loves great amet, consectetur adipiscing elit duis at dictum.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 md-mb-40">
                    <div class="process-item">
                        <div class="icon-image">
                            <img src="assets/images/process/style2/icons/2.png" alt="Images">
                        </div>
                        <div class="number-area number-two">
                            02
                        </div>
                        <div class="content-txt">
                            <h3 class="number-title">Get Clean And Fresh</h3>
                            <p class="number-txt">Lorem ipsum dolor desires to obtain pain of itself who loves great amet, consectetur adipiscing elit duis at dictum.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="process-item">
                        <div class="icon-image">
                            <img src="assets/images/process/style2/icons/3.png" alt="Images">
                        </div>
                        <div class="number-area">
                            03
                        </div>
                        <div class="content-txt">
                            <h3 class="number-title">Enjoy Cleanliness</h3>
                            <p class="number-txt">Lorem ipsum dolor desires to obtain pain of itself who loves great amet, consectetur adipiscing elit duis at dictum.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="process-animate">
        <div class="process-style left-side">
            <img src="assets/images/process/style2/1.png" alt="Process">
        </div>
        <div class="process-style right-side">
            <img src="assets/images/process/style2/1.png" alt="Process">
        </div>
    </div>
</div>
<!-- Process Section End -->