<!-- Services Section Start -->
<div class="rs-services services-style2 gray-bg pt-120 pb-120 md-pt-80 md-pb-80">
    <div class="container custom">
        <div class="sec-title2 text-center mb-40">
            <div class="brush-content center-text mb-20">
                <img src="assets/images/brush.png" alt="">
                <span class="sub-text"> What We Do</span>
            </div>
            <h2 class="title">
                Our Most Popular Cleaning<br>
                Services For You
            </h2>
        </div>
        <div class="rs-carousel owl-carousel" data-loop="true" data-items="3" data-margin="30" data-autoplay="true" data-hoverpause="true" data-autoplay-timeout="5000" data-smart-speed="800" data-dots="true" data-nav="true" data-nav-speed="false" data-center-mode="true" data-mobile-device="1" data-mobile-device-nav="true" data-mobile-device-dots="false" data-ipad-device="2" data-ipad-device-nav="true" data-ipad-device-dots="false" data-ipad-device2="2" data-ipad-device-nav2="true" data-ipad-device-dots2="false" data-md-device="3" data-md-device-nav="true" data-md-device-dots="false">
            <div class="services-slider">
                <div class="services-item">
                    <div class="services-img">
                        <a href="covid-19-cleaning.html">
                            <img src="assets/images/services/style1/1.png" title="Covid-19 Cleaning" alt="">
                        </a>
                    </div>
                    <div class="services-content">
                        <h3 class="title"><a href="covid-19-cleaning.html">Covid-19 Cleaning</a></h3>
                        <p class="description">Home cleaning service options and continue to lead by example, leaving other cleaning companies.</p>
                        <div class="services-btn">
                            <a href="covid-19-cleaning.html">
                                <span class="btn-text">
                                    Read More                           
                                </span>
                                <i class="fi fi-rr-arrow-small-right"></i>
                            </a> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="services-slider">
                <div class="services-item">
                    <div class="services-img">
                        <a href="kitchen-cleaning.html">
                            <img src="assets/images/services/style1/2.png" title="Kitchen Cleaning" alt="">
                        </a>
                    </div>
                    <div class="services-content">
                        <h3 class="title"><a href="kitchen-cleaning.html">Kitchen Cleaning</a></h3>
                        <p class="description">Home cleaning service options and continue to lead by example, leaving other cleaning companies.</p>
                        <div class="services-btn">
                            <a href="kitchen-cleaning.html">
                                <span class="btn-text">
                                    Read More                           
                                </span>
                                <i class="fi fi-rr-arrow-small-right"></i>
                            </a> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="services-slider">
                <div class="services-item">
                    <div class="services-img">
                        <a href="toilet-cleaning.html">
                            <img src="assets/images/services/style1/3.png" title="Toilet Cleaning" alt="">
                        </a>
                    </div>
                    <div class="services-content">
                        <h3 class="title"><a href="toilet-cleaning.html">Toilet Cleaning</a></h3>
                        <p class="description">Home cleaning service options and continue to lead by example, leaving other cleaning companies.</p>
                        <div class="services-btn">
                            <a href="toilet-cleaning.html">
                                <span class="btn-text">
                                    Read More                           
                                </span>
                                <i class="fi fi-rr-arrow-small-right"></i>
                            </a> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="services-slider">
                <div class="services-item">
                    <div class="services-img">
                        <a href="office-cleaning.html">
                            <img src="assets/images/services/style1/4.png" title=" Office Cleaning" alt="">
                        </a>
                    </div>
                    <div class="services-content">
                        <h3 class="title"><a href="office-cleaning.html">Office Cleaning</a></h3>
                        <p class="description">Home cleaning service options and continue to lead by example, leaving other cleaning companies.</p>
                        <div class="services-btn">
                            <a href="office-cleaning.html">
                                <span class="btn-text">
                                    Read More                           
                                </span>
                                <i class="fi fi-rr-arrow-small-right"></i>
                            </a> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="services-slider">
                <div class="services-item">
                    <div class="services-img">
                        <a href="window-cleaning.html">
                            <img src="assets/images/services/style1/5.png" title=" Window Cleaning" alt="">
                        </a>
                    </div>
                    <div class="services-content">
                        <h3 class="title"><a href="window-cleaning.html"> Window Cleaning</a></h3>
                        <p class="description">Home cleaning service options and continue to lead by example, leaving other cleaning companies.</p>
                        <div class="services-btn">
                            <a href="window-cleaning.html">
                                <span class="btn-text">
                                    Read More                           
                                </span>
                                <i class="fi fi-rr-arrow-small-right"></i>
                            </a> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="services-slider">
                <div class="services-item">
                    <div class="services-img">
                        <a href="carpet-cleaning.html">
                            <img src="assets/images/services/style1/6.png" title="Carpet Cleaning" alt="">
                        </a>
                    </div>
                    <div class="services-content">
                        <h3 class="title"><a href="carpet-cleaning.html">Carpet Cleaning</a></h3>
                        <p class="description">Home cleaning service options and continue to lead by example, leaving other cleaning companies.</p>
                        <div class="services-btn">
                            <a href="carpet-cleaning.html">
                                <span class="btn-text">
                                    Read More                           
                                </span>
                                <i class="fi fi-rr-arrow-small-right"></i>
                            </a> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sec-title2 text-center mt-50">
            <p class="view-line">
                We Provide Best Cleaning Services.
                <strong><a href="#"><u>View All Services</u></a></strong>
            </p>
        </div>
    </div>
</div>
<!-- Services Section End -->