<!-- About Section Start -->
<div id="rs-about" class="rs-about pt-120 pb-120 md-pt-80 md-pb-80">
    <div class="container">
        <div class="row y-middle">
            <div class="col-lg-6 pr-53 md-pr-15 md-mb-50">
                <div class="sec-title2">
                    <div class="brush-content mb-20">
                        <img src="{{asset('/images/brush.png')}}" alt="">
                        <span class="sub-text">Include Services</span>
                    </div>
                    <h2 class="title pb-28">
                        Your House is in Safe Trustworthy Hands
                    </h2>
                    <div class="desc pb-21">
                        Nor is there anyone who loves or pursues or desires to obtain pain ofit self, because it is pain, but occasionally ircumstances occur in which toil and pain can procure him some great pleasure.
                    </div>
                    <ul class="brush-list style3">
                        <li>Options for daily, weekly and monthly cleaning</li>
                        <li>Kitchen / restroom cleaning / restocking</li>
                        <li>Dusting and window washing</li>
                        <li>Daily carpet care</li>
                        <li>Waste removal</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="services-img">
                    <img src="{{asset('/images/services/service-2.jpg')}}" alt="Services">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About Section End -->