<!-- Counter Section Start -->
<div class="rs-counter counter-style blue-bg pt-120 pb-120 md-pt-80 md-pb-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 md-mb-40">
                <div class="rs-counter-list">
                    <div class="counter-text">
                        <div class="counter-icon">
                            <img src="assets/images/counter/icons/1.png" alt="Icons">
                        </div>
                        <div class="counter-number">
                            <span class="rs-count">15000</span>
                            <span class="prefix">+</span>
                            <h5 class="title">Services Provider</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 sm-mb-40">
                <div class="rs-counter-list">
                    <div class="counter-text">
                        <div class="counter-icon">
                            <img src="assets/images/counter/icons/2.png" alt="Icons">
                        </div>
                        <div class="counter-number">
                            <span class="rs-count">200000</span>
                            <span class="prefix">+</span>
                            <h5 class="title"> Order Served</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="rs-counter-list">
                    <div class="counter-text">
                        <div class="counter-icon">
                            <img src="assets/images/counter/icons/3.png" alt="Icons">
                        </div>
                        <div class="counter-number">
                            <span class="rs-count">100000</span>
                            <span class="prefix">+</span>
                            <h5 class="title">5 Star Received</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="counter-animation">
        <div class="animate-ball one">
            <img class="scale" src="assets/images/ball.png" alt="Images">
        </div>
        <div class="animate-ball two">
            <img class="rotated-style2" src="assets/images/ball.png" alt="Images">
        </div>
        <div class="animate-ball three">
            <img class="rotated-style2" src="assets/images/ball.png" alt="Images">
        </div>
        <div class="animate-ball four">
            <img class="scale" src="assets/images/ball.png" alt="Images">
        </div>
        <div class="animate-ball five">
            <img class="rotated-style2" src="assets/images/ball.png" alt="Images">
        </div>
        <div class="animate-ball six">
            <img class="scale" src="assets/images/ball.png" alt="Images">
        </div>
    </div>
</div>
<!-- Counter Section End -->