<!-- Services Start -->
<div class="rs-services services-style6 pt-120 md-pt-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 md-mb-50">
                <div class="services-item">
                    <div class="services-img">
                        <img src="assets/images/services/style5/1.jpg" alt="Services">
                    </div>
                    <div class="services-content">
                        <div class="title-part">
                            <h2 class="title">Recurring Services</h2>
                        </div>
                        <ul class="dot-list yellow-dot services-list">
                            <li>Options for daily, weekly and monthly services</li>
                            <li>Seamless access to portfolio of services offered</li>
                            <li>One agreement: reduces overhead and better control</li>
                            <li>One invoice: assumes centralized and consolidated billing</li>
                            <li>ServiceLINK: Access to cloud based Quality Assurance program</li>
                            <li>Single point of contact to support your needs</li>
                            <li>Analytics for response times, inspections and standards</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="services-item">
                    <div class="services-img">
                        <img src="assets/images/services/style5/2.jpg" alt="Services">
                    </div>
                    <div class="services-content">
                        <div class="title-part">
                            <h2 class="title">One-Time Service</h2>
                        </div>
                        <ul class="dot-list yellow-dot services-list">
                            <li>Options for daily, weekly and monthly services</li>
                            <li>Seamless access to portfolio of services offered</li>
                            <li>One agreement: reduces overhead and better control</li>
                            <li>One invoice: assumes centralized and consolidated billing</li>
                            <li>ServiceLINK: Access to cloud based Quality Assurance program</li>
                            <li>Single point of contact to support your needs</li>
                            <li>Analytics for response times, inspections and standards</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services End -->