<!-- Title Section Start -->
<div class="rs-about pt-120 pb-120 md-pt-80 md-pb-70">
    <div class="container">
        <div class="row y-middle">
            <div class="col-lg-6 md-mb-50">
                <div class="services-img">
                    <img src="{{asset('/images/services/service-1.jpg')}}" alt="Services">
                </div>
            </div>
            <div class="col-lg-6 pl-35 md-pl-15 pr-30 md-pr-15">
                <div class="sec-title2">
                    <div class="brush-content mb-20">
                        <img src="{{asset('/images/brush.png')}}" alt="icone">
                        <span class="sub-text">House Cleaning</span>
                    </div>
                    <h2 class="title pb-32">
                        We Are Committed To Cleaning Excellence
                    </h2>
                    <div class="desc">
                        Nor is there anyone who loves or pursues or desires to obtain pain ofit self, because it is pain, but occasionally ircumstances occur in which toil and pain can procure him some great pleasure. Creation timelines for the digital consulting business theme 2021 standard Nor is there anyone who loves or pursues or desires to obtain pain ofitself, because it is pain, but occasionally ircumstances occur in which toil and pain can procure him some great pleasure.
                    </div>
                    <div class="btn-part mt-40">
                        <a class="readon about" href="contact.html">
                            <span class="btn-text">Contact Us</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Title Section End -->