<!-- Footer Start -->
<footer id="rs-footer" class="rs-footer footer-style1 footer-style4">
	<div class="footer-top">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="row">
						<div class="col-lg-6 col-md-12 col-sm-12 md-mb-20 pr-83 md-pr-15">
							<div class="footer-logo mb-30 md-mb-20">
								<a href="index.html"><img src="{{asset('/images/logo-yellow2.png')}}" alt=""></a>
							</div>
							<div class="textwidget mb-33">
								Lorem ipsum dolor sit amet adcing consect adcing eli seddo eiusmod temporing tourincididunt 
							</div>
							<ul class="app-store">
								<li><a href="#"><img src="{{asset('/images/footer/playstore.png')}}" alt=""></a></li>
								<li><a href="#"><img src="{{asset('/images/footer/appstore.png')}}" alt=""></a></li>
							</ul>
						</div>
						<div class="col-lg-6 col-md-12 col-sm-12 md-mb-20">
							<h3 class="footer-title">Contact Info</h3>
							<ul class="address-widget">
								<li>
									<i class="fi fi-rr-map-marker-home"></i>
									<div class="desc">503 Old Buffalo Street<br>
										#205 New York-3087
									</div>
								</li>
								<li>
									<i class="fi fi-rr-phone-call"></i>
									<div class="desc">
										<a href="tel:(+1)123-4567890">(+1) 123-456-7890</a>
									</div>
								</li>
								<li>
									<i class="fi fi-rr-envelope-plus"></i>
									<div class="desc">
										<a href="mailto:infoname@gmail.com">infoname@gmail.com</a>
									</div>
								</li>
								<li>
									<i class="fi fi-rr-time-add"></i>
									<div class="desc">
										08:00am-6:00pm
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-12 col-sm-12 md-mb-20 pl-90 md-pl-15">
					<h3 class="footer-title black-title">Subscribe to Newsletter</h3>
					<p class="widget-desc">Join our subscribers list to get the latest news and special offers</p>
					<p>
						<input type="email" name="email" placeholder="Your email address" required="">
						<input type="submit" value="Subscribe Now">
					</p>
					<ul class="footer-social">  
						<li> 
							<a href="#"><i class="fa fa-facebook"></i></a>
						</li>
						<li> 
							<a href="#"><i class="fa fa-instagram"></i></a>
						</li>
						<li> 
							<a href="#"><i class="fa fa-twitter"></i></a> 
						</li>

						<li> 
							<a href="#"><i class="fa fa-linkedin"></i></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="container">                    
			<div class="row y-middle">
				<div class="col-lg-6 md-mb-10 text-lg-end text-center order-last">
					<ul class="copy-right-menu">
						<li><a href="index.html">Home</a></li>
						<li><a href="about.html">About</a></li>
						<li><a href="services.html">Services</a></li>
						<li><a href="blog.html">Blog</a></li>
						<li><a href="contact.html">contact</a></li>
					</ul>
				</div>
				<div class="col-lg-6">
					<div class="copyright text-lg-start text-center ">
						<p>Copyright © 2022 Clenia. Designed By <a href="https://devsdesign.net" target="blank"> Devsdesign</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- Footer End -->