<!-- Footer Start -->
<footer id="rs-footer" class="rs-footer footer-style1 footer-style4">
	<div class="footer-top">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="row">
						<div class="col-lg-6 col-md-12 col-sm-12 md-mb-20 pr-83 md-pr-15">
							<div class="footer-logo mb-30 md-mb-20">
								<a href="{{path('app_home')}}"><img src="{{asset('/images/logo-yellow2.jpg')}}" alt="Logo"></a>
							</div>
							<div class="textwidget mb-33">
								Net & Sur est une entreprise basée à Beauvais, spécialisée dans le nettoyage professionnel et industriel. 
							</div>
							{# <ul class="app-store">
								<li><a href="#"><img src="{{asset('/images/footer/playstore.png')}}" alt=""></a></li>
								<li><a href="#"><img src="{{asset('/images/footer/appstore.png')}}" alt=""></a></li>
							</ul> #}
						</div>
						<div class="col-lg-6 col-md-12 col-sm-12 md-mb-20">
							<h3 class="footer-title">CONTACT NET&SUR</h3>
							<ul class="address-widget">
								<li>
									<i class="fi fi-rr-map-marker-home"></i>
									<div class="desc">3 rue witten<br>
										60000 - Beauvais
									</div>
								</li>
								<li>
									<i class="fi fi-rr-phone-call"></i>
									<div class="desc">
										<a href="tel:(+1)123-4567890">+33 3 00 00 00 00</a>
									</div>
								</li>
								<li>
									<i class="fi fi-rr-envelope-plus"></i>
									<div class="desc">
										<a href="mailto:infoname@gmail.com">contact@netetsur.com</a>
									</div>
								</li>
								<li>
									<i class="fi fi-rr-time-add"></i>
									<div class="desc">
										9h - 18H
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-12 col-sm-12 md-mb-20 pl-90 md-pl-15">
					<h3 class="footer-title black-title">S'INSCRIRE À LA NEWSLETTER </h3>
					<p class="widget-desc">Rejoignez notre liste d'abonnés pour recevoir les dernières nouvelles et offres spéciales.</p>
					<p>
						<input type="email" name="email" placeholder="Your email address" required="">
						<input type="submit" value="Subscribe Now">
					</p>
					<ul class="footer-social">  
						<li> 
							<a href="#"><i class="fa fa-facebook"></i></a>
						</li>
						<li> 
							<a href="#"><i class="fa fa-instagram"></i></a>
						</li>
						<li> 
							<a href="#"><i class="fa fa-twitter"></i></a> 
						</li>

						<li> 
							<a href="#"><i class="fa fa-linkedin"></i></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="container">                    
			<div class="row y-middle">
				<div class="col-lg-6 md-mb-10 text-lg-end text-center order-last">
					<ul class="copy-right-menu">
						<li><a href="#">Plan du site</a></li>
						<li><a href="#">Les cookies</a></li>
						<li><a href="#">Politique de confidentialité</a></li>
						<li><a href="#">Mentions légales</a></li>
					</ul>
				</div>
				<div class="col-lg-6">
					<div class="copyright text-lg-start text-center ">
						<p>Copyright © 2023 Web-artisanat. conçu par <a href="https://web-artisanat.com" target="blank"> DevJam</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- Footer End -->