		<!--Preloader start here-->
	    <div id="clenia-load">
			<div class="preload-wrap">
	  			<img src="{{asset('/images/fav.png')}}" alt="Clenia- Cleanning Services">
			</div>
        </div>
		<!--Preloader area end here-->