		<!-- Search Modal Start -->
		<div class="modal fade search-modal" id="searchModal" tabindex="-1">
			<button type="button" class="close" data-bs-dismiss="modal">
				<i class="fi fi-rr-cross-small"></i>
			</button>
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="search-block clearfix">
						<form>
							<div class="form-group">
								<input class="form-control" placeholder="Searching..." type="text">
								<button type="submit" value="Search"><i class="fi fi-rr-search"></i></button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- Search Modal End -->