<div class="menu-area menu-sticky">
	<div class="container">
		<div class="row-table">
			<div class="col-cell header-logo">
				<div class="logo-area">
					<a href="index.html">
						<img class="sticky-logo" src="{{asset('/images/logo.png')}}" alt="logo">
					</a>
				</div>
			</div>
			<div class="col-cell">
				<div class="rs-menu-area">
					<div class="main-menu">
						<nav class="rs-menu hidden-md">
							<ul class="nav-menu">
								<li class="menu-item-has-children current-menu-item">
									<a href="index.html">Accueil</a>
								</li>
								<li class="menu-item-has-children">
								 <a href="about.html">A propos</a>
									<ul class="sub-menu">
										<li>
											<a href="">Faq</a>
										</li>
										<li>
											<a href="">Devis</a>
										</li>
										<li>
											<a href="">Membres expert</a>
										</li>
									</ul>
								</li>
								<li class="menu-item-has-children">
									<a href="#">Services</a>
									<ul class="sub-menu">
										<li>
											<a href="">Milieu hospitalier</a>
										</li>
										<li>
											<a href="">Syndicat de copropriétaires</a>
										</li>
										<li>
											<a href="">Milieu tertiaire</a>
										</li>
										<li>
											<a href="">Secteur industrielle</a>
										</li>
										<li>
											<a href="">Nettoyage de chantiers</a>
										</li>
										<li>
											<a href="">Travaux exceptionnels</a>
										</li>
									</ul>
								</li>
								<li class="menu-item-has-children">
									<a href="#">Nos réalisations</a>
									<ul class="sub-menu">
										<li>
											<a href="">interventions en milieu hospitalier</a>
										</li>
										<li>
											<a href="">Interventions parc immobilier</a>
										</li>
										<li>
											<a href="">Interventions en milieu tertiaire</a>
										</li>
										<li>
											<a href="">Nettoyage usine et entrepots</a>
										</li>
										<li>
											<a href="">Nettoyage sur chantiers</a>
										</li>
										<li>
											<a href="">Les demandes urgente</a>
										</li>
									</ul>
								</li>
								<li class="menu-item-has-children">
									<a href="#">Blog</a>
								</li>
								<li>
									<a href="contact.html">Contact</a>
								</li>
							</ul>
							<!-- //.nav-menu -->
						</nav>
					</div>
					<!-- //.main-menu -->
				</div>
			</div>
			<div class="col-cell">
				<div class="expand-btn-inner">
					<ul>
						<li class="sidebarmenu-search">
							<a class="hidden-xs rs-search" data-bs-toggle="modal" data-bs-target="#searchModal" href="#">
								<i class="fi fi-rr-search"></i>
							</a>
						</li>
						<li class="nav-link">
							<a id="nav-expander" class="nav-expander bar" href="#">
								<span class="dot-hum"></span>
								<span class="dot-hum"></span>
								<span class="dot-hum"></span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
