<div class="middle-header hidden-md">
    <div class="container">
        <div class="row-table">
            <div class="col-cell header-logo">
                <div class="logo-part">
                    <a href="index.html"><img src="{{ asset('images/logo.png') }}" alt=""></a>
                </div>
            </div>
            <div class="col-cell">
                <div class="rs-contact-info">
                    <div class="contact-part">
                        <div class="info-icon">
                            <i class="fi fi-rr-marker"></i>
                        </div>
                        <div class="contact-info">
                            <div class="info-title">
                                Contact us
                            </div>                                                                    	
                            <div class="info-des">
                                25/2 Dublin, Ireland                                                                
                            </div>
                        </div>
                    </div>
                    <div class="contact-part">
                        <div class="info-icon">
                            <i class="fi fi-rr-envelope-open"></i>
                        </div>
                        <div class="contact-info">
                            <div class="info-title">
                                Email us
                            </div>                                                                    	
                            <div class="info-des">
                                <a href="mailto:support@devsdesign.net">
                                    support@devsdesign.net                                    
                                </a>                                                               
                            </div>
                        </div>
                    </div>
                    <div class="contact-part margin-no">
                        <div class="info-icon">
                            <i class="fi fi-rr-phone-call"></i>
                        </div>
                        <div class="contact-info">
                            <div class="info-title">
                                Get Free Estimate
                            </div>                                                                    	
                            <div class="info-des">
                                <a href="tel:(+0885)-23456789"> (+0885) - 2345 6789</a>         
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>