<div class="middle-header hidden-md">
    <div class="container">
        <div class="row-table">
            <div class="col-cell header-logo">
                <div class="logo-part">
                    <a href="index.html"><img src="" alt=""></a>
                </div>
            </div>
            <div class="col-cell">
                <div class="rs-contact-info">
                    <div class="contact-part">
                        <div class="info-icon">
                            <i class="fi fi-rr-marker"></i>
                        </div>
                        <div class="contact-info">
                            <div class="info-title">
                                Adresse
                            </div>                                                                    	
                            <div class="info-des">
                               3 rue witten, 60000 Beauvais                                                               
                            </div>
                        </div>
                    </div>
                    <div class="contact-part">
                        <div class="info-icon">
                            <i class="fi fi-rr-envelope-open"></i>
                        </div>
                        <div class="contact-info">
                            <div class="info-title">
                               mail
                            </div>                                                                    	
                            <div class="info-des">
                                <a href="mailto:support@devsdesign.net">
                                    contact@netetsur.com                                    
                                </a>                                                               
                            </div>
                        </div>
                    </div>
                    <div class="contact-part margin-no">
                        <div class="info-icon">
                            <i class="fi fi-rr-phone-call"></i>
                        </div>
                        <div class="contact-info">
                            <div class="info-title">
                                Téléphone
                            </div>                                                                    	
                            <div class="info-des">
                                <a href="tel:(+0885)-23456789">+33 3 00 00 00 00</a>         
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>