{% extends 'base.html.twig' %}

{% block title %}Conditions générale de vente
{% endblock %}
{% block body %}
<div class="container">
  <h1 class="text-center">Conditions générales de vente</h1>
  <h2>Article 1 : Objet</h2>
  <p>
    Les présentes conditions générales de vente régissent les relations entre [Nom de votre société] et son client dans le cadre de la vente des produits proposés par [Nom de votre société].
  </p>
  <h2>Article 2 : Produits</h2>
  <p>
    Les produits proposés à la vente sont ceux qui figurent dans le catalogue publié sur le site [Nom de votre site internet]. Ces produits sont proposés dans la limite des stocks disponibles.
  </p>
  <h2>Article 3 : Prix</h2>
  <p>
    Les prix des produits sont ceux en vigueur au jour de la prise de commande. Ils sont exprimés en euros et ne comprennent pas les frais de traitement et d'expédition, ni les taxes éventuelles, lesquels seront facturés en supplément.
  </p>
  <h2>Article 4 : Commande</h2>
  <p>
    La commande ne sera considérée comme définitive qu'après paiement intégral du prix par le client.
  </p>
  <h2>Article 5 : Livraison</h2>
  <p>
    Les produits sont livrés à l'adresse indiquée par le client lors de sa commande. Les délais de livraison ne sont donnés qu'à titre indicatif et ne sauraient engager la responsabilité de [Nom de votre société] en cas de dépassement.
  </p>
  <h2>Article 6 : Réception</h2>
  <p>
    A la réception des produits, le client doit vérifier l'état de l'emballage et la conformité des produits livrés à sa commande. Toute réclamation devra être formulée par écrit dans les 2 jours suivant la réception des produits.
  </p>
  <h2>Article 7 : Garantie</h2>
  <p>
    Tous les produits fournis par [Nom de votre société] bénéficient de la garantie légale prévue par les articles 1641 et suivants du Code civil. En cas de non-conformité d'un produit vendu, il pourra être retourné à [Nom de votre société] qui le reprendra, l'échangera ou le remboursera.
  </p>
  <h2>Article 8 : Responsabilité</h2>
  <p>
    La responsabilité de [Nom de votre société] sera limitée, en tout état de cause, au montant de la commande et ne saurait être mise en cause pour de simples erreurs ou omissions qui auraient pu subsister malgré toutes les précautions prises dans la présentation des produits.
  </p>
  <h2>Article 9 : Réclamation</h2>
  <p>
    Toute réclamation doit être adressée par écrit à [Nom de votre société] à l'adresse suivante : [Adresse de votre société].
  </p>
  <h2>Article 10 : Propriété intellectuelle</h2>
  <p>
    Tous les éléments du site [Nom de votre site internet] sont et restent la propriété intellectuelle et exclusive de [Nom de votre société]. Personne n'est autorisé à reproduire, exploiter, ou utiliser à quelque titre que ce soit, même partiellement, des éléments du site qu'ils soient sous forme de photo, logo, visuel ou texte.
  </p>
  <h2>Article 11 : Loi applicable</h2>
  <p>
    Toutes les clauses figurant dans les présentes conditions générales de vente, ainsi que toutes les opérations d'achat et de vente qui y sont visées, seront soumises à la loi française.
  </p>
</div>

{% endblock %}