{% extends 'base.html.twig' %}

{% block title %}Cookies
{% endblock %}
{% block body %}
<div class="container">
  <h1 class="text-center">Politique de Cookies</h1>
  <p>
    Notre site web utilise des cookies pour améliorer votre expérience de navigation. En continuant à utiliser notre site web, vous acceptez notre utilisation des cookies conformément à notre politique de confidentialité.
  </p>
  <h2>Qu'est-ce qu'un cookie ?</h2>
  <p>
    Les cookies sont de petits fichiers de données qui sont stockés sur votre ordinateur ou appareil mobile lorsque vous visitez un site web. Ils permettent au site web de se rappeler de vos préférences et de vous offrir une expérience de navigation plus personnalisée.
  </p>
  <h2>Comment nous utilisons les cookies ?</h2>
  <p>
    Nous utilisons des cookies pour :
  </p>
  <ul>
    <li>
<li>Améliorer la performance et la sécurité de notre site web</li>
<li>Analyser l'utilisation de notre site web afin de l'optimiser et de vous offrir une meilleure expérience utilisateur</li>
<li>Diffuser des publicités ciblées et personnalisées</li>

  </ul>
  <h2>Types de cookies utilisés</h2>
  <p>Il existe plusieurs types de cookies, chacun ayant une fonction différente :</p>
  <ul>
    <li>Les cookies de session : ils sont temporaires et expirent une fois que vous fermez votre navigateur</li>
    <li>Les cookies persistants : ils restent sur votre ordinateur ou appareil mobile jusqu'à ce qu'ils expirent ou jusqu'à ce que vous les supprimiez manuellement</li>
    <li>Les cookies de première partie : ils sont déposés par le site web que vous visitez</li>
    <li>Les cookies de tiers : ils sont déposés par des sites web tiers (par exemple les réseaux sociaux, les publicitaires, etc.) pour diffuser des publicités ciblées et personnalisées.</li>
  </ul>
  <h2>Gestion des cookies</h2>
  <p>
    Vous pouvez gérer les cookies en modifiant les paramètres de votre navigateur. Vous pouvez choisir de désactiver les cookies ou de recevoir une notification lorsqu'un cookie est déposé sur votre ordinateur ou appareil mobile. Si vous choisissez de désactiver les cookies, veuillez noter que certaines fonctionnalités de notre site web pourraient ne pas fonctionner correctement.
  </p>
</div>
{% endblock %}