{% extends 'base.html.twig' %}

{% block title %}Mentions légales
{% endblock %}
{% block body %}
<div class="container">
  <h1 class="text-center">Mentions légales</h1>
  <p>
    Site internet édité par : <br>
    Société : [Nom de votre société] <br>
    Adresse : [Adresse de votre société] <br>
    Téléphone : [Téléphone de votre société] <br>
    Adresse e-mail : [Adresse e-mail de votre société] <br>
    SIRET : [Numéro SIRET de votre société] <br>
    TVA intracommunautaire : [Numéro de TVA intracommunautaire de votre société] <br>
    Directeur de la publication : [Nom et prénom du directeur de la publication]
  </p>
  <h2>Hébergement</h2>
  <p>
    Le site est hébergé par : <br>
    Société : [Nom de l'entreprise d'hébergement] <br>
    Adresse : [Adresse de l'entreprise d'hébergement] <br>
  </p>
  <h2>Propriété intellectuelle</h2>
  <p>
    Tous les éléments du site, tant graphiques que textuels, sont protégés par le droit d'auteur, en vertu du Code de la propriété intellectuelle. Toute reproduction, représentation, utilisation ou modification, par quelque procédé que ce soit et sur quelque support que ce soit, de tout ou partie de ces éléments, y compris les applications informatiques, sans l'autorisation préalable et écrite de l'entreprise est strictement interdite et serait susceptible de constituer un délit de contrefaçon.
  </p>
  <h2>Responsabilité</h2>
  <p>
    Les informations contenues sur ce site sont aussi précises que possibles et le site est périodiquement remis à jour, mais peut toutefois contenir des inexactitudes ou des omissions. Si vous constatez une lacune, erreur ou ce qui parait être un dysfonctionnement, merci de bien vouloir le signaler par email, à l'adresse contact@example.com en décrivant le problème de la manière la plus précise possible (page posant problème, action déclenchante, type d'ordinateur et de navigateur utilisé, ...).
    Tout contenu téléchargé se fait aux risques et périls de l'utilisateur et sous sa seule responsabilité. En conséquence,
    l'entreprise ne peut être tenue responsable d'un quelconque dommage subi par l'ordinateur de l'utilisateur ou d'une quelconque perte de données consécutives au téléchargement.
Les liens hypertextes mis en place dans le cadre du présent site internet en direction d'autres ressources présentes sur le réseau Internet ne sauraient engager la responsabilité de l'entreprise.

  </p>
</div>
{% endblock %}