{% extends 'base.html.twig' %}

{% block title %}Politique de confidentialité
{% endblock %}
{% block body %}
	<div class="container">
		<h1 class="text-center">Politique de confidentialité</h1>
		<p>
			Nous prenons très au sérieux la confidentialité de vos informations
			        personnelles. Nous recueillons, utilisons et conservons vos informations
			        personnelles conformément à la loi applicable en matière de
			        confidentialité, y compris le règlement général sur la protection des
			        données (RGPD).
		</p>
		<h2>Informations que nous recueillons</h2>
		<p>
			Nous pouvons recueillir les informations suivantes :
		</p>
		<ul>
			<li>Informations de contact, telles que votre nom, votre adresse e-mail et votre numéro de téléphone.</li>
			<li>Informations démographiques, telles que votre âge et votre sexe.</li>
			<li>Informations sur les transactions, telles que les détails de votre commande et de votre paiement.</li>
		</ul>
		<h2>Comment nous utilisons ces informations</h2>
		<p>
			Nous utilisons ces informations pour :
		</p>
		<ul>
			<li>traiter les commandes et les paiements</li>
			<li>vous fournir un meilleur service client</li>
			<li>envoyer des newsletters et des offres promotionnelles</li>
		</ul>
		<h2>Partage d'informations</h2>
		<p>
			Nous ne vendrons ni ne louerons vos informations personnelles à des tiers sans votre consentement. Nous pouvons partager vos informations avec des tiers uniquement dans les cas suivants :
		</p>
		<ul>
			<li>Pour respecter les lois et les règlementations applicables.</li>
			<li>Pour protéger les droits et les propriétés de notre entreprise.</li>
			<li>Avec des prestataires de services qui nous aident à gérer nos activités commerciales.</li>
		</ul>
		<h2>Comment nous protégeons vos informations</h2>
		<p>
			Nous conservons vos informations aussi longtemps que nécessaire pour remplir les fins pour lesquelles elles ont été collectées. Nous prenons également des mesures pour s'assurer que les informations sont correctement protégées et conservées en sécurité.
		</p>
		<h2>Vos droits</h2>
		<p>
			Vous avez le droit de :
		</p>
		<ul>
			<li>Demander l'accès à vos informations personnelles</li>
			<li>Demander la rectification de vos informations personnelles</li>
			<li>Demander la suppression de vos informations personnelles</li>
			<li>S'opposer au traitement de vos informations personnelles</li>
			<li>Demander la portabilité de vos informations personnelles</li>
		</ul>
		<p>
			Si vous souhaitez exercer l'un de ces droits, veuillez nous contacter à l'adresse email suivante : contact@example.com
		</p>
	</div>

{% endblock %}
